.navbar2 {
    background-color: #00BCB4;
    height: 140px;
    left: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }


  .menu-bars {
    display: none;
  }

  
